<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77226651103-1c4t1cj359pb4enfu60nv526apfg7f1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77226651103-1c4t1cj359pb4enfu60nv526apfg7f1f</string>
	<key>API_KEY</key>
	<string>AIzaSyBrUPGV5ZZBO3GE4wdUvAJLvIWXntuLH1E</string>
	<key>GCM_SENDER_ID</key>
	<string>77226651103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vergaraaa.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-swiftui-6e80a</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-swiftui-6e80a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77226651103:ios:6bcc89ee272f7f5283a86a</string>
</dict>
</plist>